<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Upload</title>
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="hero-unit">
      <div class="pull-right">    
        <form action="/delete" method="post">
          <button type="submit" class="btn btn-danger" title="Clear All">X</button>
        </form>
      </div>
      <div class="text-center">
        <h1 class="title"><a href="/">MySQL Upload</a></h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" /><br>
          <input type="submit" class="btn" value="Upload">
        </form>
        {{#msg}}<div class="alert alert-info">{{msg}}</div>{{/msg}}
      </div>
    </div>
    <div>
      <table class="table">
        {{#posts}}
          <tr><td>{{text}}</td></tr>
        {{/posts}}
      </table>
    </div>
  </div>
</body>
</html>
